* {
    border: none;
    font-family: Maple Mono NF CN;
    font-weight: 900;
    font-size: 18px;
    min-height: 0;
}

window#waybar {
    background: none;
    margin: 0px;
    padding: 0px;
}

tooltip {
    background: rgba(30, 30, 46, 0.95);
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
    border-color: #cba6f7;
    color: #cdd6f4;
}

#language,
#custom-updates,
#custom-weather,
#window,
#taskbar,
#tags,
#workspaces,
#custom-playerctl,
#clock,
#battery,
#pulseaudio,
#cpu,
#temperature,
#backlight,
#network,
#workspaces,
#tray,
#cava,
#keyboard-state,
#custom-notification,
#custom-power {
    background: rgba(30, 30, 46, 0.9);
    padding: 0px 10px;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
}

#workspaces {
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
    border-color: #cba6f7;
    margin-left: 4px;
    padding-left: 10px;
    padding-right: 6px;
    background: rgba(30, 30, 46, 0.9);
}

#workspaces button {
    border: none;
    background: none;
    box-shadow: inherit;
    text-shadow: inherit;
    color: #a6adc8;
    padding: 1px;
    padding-left: 1px;
    padding-right: 1px;
    margin-right: 2px;
    margin-left: 2px;
}

#workspaces button.hidden {
    color: #6c7086;
    background-color: transparent;
}

#workspaces button.visible {
    color: #cdd6f4;
}

#workspaces button:hover {
    color: #f5c2e7;
}

#workspaces button.active {
    background-color: #cba6f7;
    color: #1e1e2e;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 1px;
    padding-bottom: 0px;
    border-radius: 8px;
}

#workspaces button.urgent {
    background-color: #f38ba8;
    color: #1e1e2e;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 1px;
    padding-bottom: 0px;
    border-radius: 8px;
}

#tags {
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
    border-color: #cba6f7;
    margin-left: 4px;
    padding-left: 10px;
    padding-right: 6px;
    background: rgba(30, 30, 46, 0.9);
}

#tags button {
    border: none;
    background: none;
    box-shadow: inherit;
    text-shadow: inherit;
    color: #6c7086;
    padding: 1px;
    padding-left: 1px;
    padding-right: 1px;
    margin-right: 4px;
}

#tags button {
    color: #6c7086;
}

#tags button:not(.occupied):not(.focused):not(.overview):not(.urgent) {
    font-size: 0;
    min-width: 0;
    min-height: 0;
    margin: -17px;
    padding: 0;
    color: transparent;
    background-color: transparent;
}

#tags button.occupied {
    color: #cdd6f4;
}

#tags button.overview {
    color: #cdd6f4;
}

#tags button:hover {
    color: #f5c2e7;
}

#tags button.focused {
    background-color: #cba6f7;
    color: #1e1e2e;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 1px;
    padding-bottom: 0px;
    border-radius: 8px;
}

#tags button.urgent {
    background-color: #f38ba8;
    color: #1e1e2e;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 1px;
    padding-bottom: 0px;
    border-radius: 8px;
}

#tray {
    background: rgba(30, 30, 46, 0.9);
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
    border-color: #cba6f7;
    margin-right: 4px;
    margin-left: 4px;
    padding-right: 8px;
    padding-left: 9px;
    padding-top: 2px;
    color: #cdd6f4;
}

#network {
    background: rgba(30, 30, 46, 0.9);
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
    border-color: #cba6f7;
    margin-right: 4px;
    margin-left: 0px;
    padding-right: 12px;
    padding-left: 9px;
    padding-top: 2px;
    color: #cdd6f4;
}

#workspaces {
    background: rgba(30, 30, 46, 0.9);
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
    border-color: #cba6f7;
    margin-left: 4px;
    padding-right: 6px;
    padding-left: 4px;
}

#language {
    background: rgba(30, 30, 46, 0.9);
    color: #cdd6f4;
    border-width: 2px;
    border-style: solid;
    border-color: #cba6f7;
    border-right: 0px;
    border-radius: 12px 0px 0px 12px;
    min-width: 24px;
}

#keyboard-state {
    background: none;
    color: #cdd6f4;
    border: none;
    padding-top: 1px;
}

#custom-updates {
    background: rgba(30, 30, 46, 0.9);
    color: #cdd6f4;
    border-radius: 0px 12px 12px 0px;
    border-width: 2px;
    border-left: 0px;
    border-style: solid;
    border-color: #cba6f7;
}

#window {
    background: rgba(30, 30, 46, 0.9);
    border-width: 2px;
    border-style: solid;
    border-color: #cba6f7;
    border-radius: 12px;
    margin-left: 0px;
    margin-right: 10px;
    color: #cdd6f4;
}

#taskbar {
    background: rgba(30, 30, 46, 0.9);
    border-width: 2px;
    border-style: solid;
    border-color: #cba6f7;
    border-radius: 12px;
    margin-left: 10px;
    margin-right: 10px;
    color: #cdd6f4;
}

#taskbar.empty {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 0px;
    border-radius: 0px;
    border-color: transparent;
    border: none;
    background-color: transparent;
}

#taskbar button {
    margin-right: 3px;
}

#taskbar button.minimized {
    background-color: #eba0ac;
    color: #1e1e2e;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 8px;
}

#taskbar button.urgent {
    background-color: #f38ba8;
    color: #1e1e2e;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 8px;
}

#taskbar button.active {
    background-color: #cba6f7;
    color: #1e1e2e;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 8px;
}

#custom-playerctl {
    background: rgba(30, 30, 46, 0.9);
    border-width: 2px;
    border-style: solid;
    border-color: #cba6f7;
    border-right: 0px;
    border-left: 0px;
    color: #cdd6f4;
}

#cava {
    background: rgba(30, 30, 46, 0.9);
    border-radius: 12px 0px 0px 12px;
    border-width: 2px;
    border-style: solid;
    border-color: #cba6f7;
    margin-left: 4px;
    color: #cdd6f4;
}

#clock {
    background: rgba(30, 30, 46, 0.9);
    color: #cdd6f4;
    border-width: 2px;
    border-style: solid;
    border-color: #cba6f7;
    border-right: 2px;
    border-radius: 12px 0px 0px 12px;
}

#pulseaudio {
    background: rgba(30, 30, 46, 0.9);
    color: #cdd6f4;
    border-width: 2px;
    border-width: 2px;
    border-style: solid;
    border-color: #cba6f7;
    border-right: 0px;
    margin-left: 0px;
    border-radius: 12px 0px 0px 12px;
}

#cpu {
    background: rgba(30, 30, 46, 0.9);
    color: #cdd6f4;
    border-width: 2px;
    border-style: solid;
    border-color: #cba6f7;
    border-right: 0px;
    border-left: 0px;
    border-radius: 0px;
}

#temperature {
    background: rgba(30, 30, 46, 0.9);
    color: #cdd6f4;
    border-width: 2px;
    border-style: solid;
    border-color: #cba6f7;
    border-right: 0px;
    border-left: 0px;
    border-radius: 0px;
}

#backlight {
    background: rgba(30, 30, 46, 0.9);
    color: #cdd6f4;
    border-width: 2px;
    border-style: solid;
    border-color: #cba6f7;
    border-radius: 0px 12px 12px 0px;
    border-left: 0px;
    margin-right: 4px;
}

#battery {
    background: rgba(30, 30, 46, 0.9);
    color: #cdd6f4;
    border-width: 2px;
    border-style: solid;
    border-color: #cba6f7;
    border-radius: 0px;
    border-right: 0px;
    border-left: 0px;
}

#custom-weather {
    background: rgba(30, 30, 46, 0.9);
    color: #cdd6f4;
    border-radius: 12px 0px 0px 12px;
    border-width: 2px;
    border-style: solid;
    border-color: #cba6f7;
    border-right: 0px;
    margin-left: 4px;
    padding-right: 7px;
    padding-top: 1px;
}

#custom-notification {
    background: rgba(30, 30, 46, 0.9);
    color: #cdd6f4;
    border-width: 2px;
    border-style: solid;
    border-color: #cba6f7;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    min-width: 18px;
}

#custom-power {
    background: rgba(30, 30, 46, 0.9);
    color: #cdd6f4;
    border-width: 2px;
    border-style: solid;
    border-color: #cba6f7;
    border-radius: 0px 12px 12px 0px;
    border-left: 0px;
    margin-left: 0px;
    margin-right: 4px;
    padding-right: 14px;
}

menu {
    border-width: 2px;
    border-style: solid;
    border-color: #cba6f7;
    background: rgba(30, 30, 46, 0.95);
    border-radius: 12px;
}

menuitem:focus label,
menuitem:hover label {
    color: #1e1e2e;
    background: #cba6f7;
}

menuitem:focus,
menuitem:hover {
    background: #cba6f7;
}
